*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: whitesmoke;
color: brown;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    list-style: none;
    color: green; 
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.nav{
    display: flex;
    color: green;
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
    list-style: none;

    border-bottom: 1px solid #672f2f;
    
}
.header{
display: grid;
grid-template-columns: 1fr 2fr;
justify-content: center;
align-items: center;
gap: 50px;
padding-top: 50px;
}

.header-img{

    display: flex;
    justify-content: center;

}

.header-text{
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}

.header-name{
font-size: 40px;
text-decoration: none;
text-align: center;
word-spacing: 15px;
letter-spacing: 10px;
}

.header-title{
    font-size: 25px;
    word-spacing: 15px;
letter-spacing: 10px;
}

.content{
   position: relative;
display: grid;
grid-template-columns: auto auto;
column-gap: 60px;
padding-top: 50px;
padding-bottom: 35px;
border-bottom: 1px solid #672f2f;
}


.text-title{
    display: flex;
    outline: none;
    text-decoration: none;
    list-style: none;
    margin: 25px 0;
    color:green;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    justify-content: center;

}
.text{
    text-align: justify;
    text-decoration: none;
    list-style: none;
    margin: 25px 0;
    word-spacing: 10px;
    letter-spacing: 1px;
}

.footer{
display: grid;
grid-template-columns: auto auto auto;
justify-content: space-between;
margin-top: 50px;
}